<table>
	{{#each panels}}	
		<td class="panelCell">
			<iframe src="{{this.src}}" class="panelFrame" frameborder="0"></iframe>
			<div class="labelContainer">
				<span>
                    <h2>{{this.label}}</h2>
				</span>
			</div>
		</td>	
	{{/each}}
</table>
