<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/app.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>Redfish Telemetry Client</title>
    </head>
    <body>
        <h1 class="text">{{pageTitle}}</h1>
        <div class="separator" ></div>
        <p>{{values}}</p>
    </body>

</html>