<!DOCTYPE html>
<html>
	<head>
		
	</head>

	<body>
		<form action="/generateMockData" method="get">
			<table>
				<tr>
					<td>Time (seconds)</td>
					<td><input type = "text" name = "time"></td>
				</tr>
				<tr>
					<td>Config</td>
					<td><input type = "text" name = "config"></td>
				</tr>
			</table>
			<input type="submit" onclick="return startAJAX()">
			<h1 id = "output"></h1>
			
		</form>
	</body>

	
	<script type="text/javascript">
		var perc = 0;
		var interval;
		function startAJAX(){
			interval = setInterval(getPerc, 100);
		}
		
		
		function getPerc() {
			var xmlhttp = new XMLHttpRequest();
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
				   if (xmlhttp.status == 200) {
						perc = parseInt(xmlhttp.responseText);
						document.getElementById("output").innerHTML = xmlhttp.responseText;
						if(perc == 100){
							clearInterval(interval);
						}
				   }
				}
			};
			xmlhttp.open("GET", "/generateMockData?perc=1", true);
			xmlhttp.send();
				
		}
	</script>

<html>