<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/app.css">
        <title>Redfish Telemetry Client</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>

        <iframe src="http://localhost:3000/d-solo/S1KPm7xmz/testdash?orgId=1&panelId=2&from=1539804607133&to=1539826207133" width="450" height="200" frameborder="0"></iframe>
        
        {{> footer}}
    </body>
    
</html>