<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/app.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <title>Redfish Telemetry Client</title>
    </head>
    <body>
        <h1 class="text">{{pageTitle}}</h1>
        <div class="separator" />
        <br />
        <div style="display: inline-block;">
            <h4><i class="fas fa-plus"></i><a href="#" id="add" style="text-decoration: none;"> &nbsp;Add a panel...</a></h4>
            <ul class="dropdown">
                <li value="panel1">Panel 1</li>
                <li value="panel2">Panel 2</li>
                <li value="panel3">Panel 3</li>
                <li value="panel4">Panel 4</li>
                <li value="panel5">Panel 5</li>
                <li value="panel6">Panel 6</li>
                <li value="showAll">Show All</li>
            </ul>
            <br />
            <br />
            <div id="panel_area_1"></div>
            <div id="label_area_1" style="text-align: center;"><h3></h3></div>
        </div>
        <div class="footer">
            {{> footer}}
        </div>
    </body>
    <script>
        $(document).ready(function () {
            var count = 0;

            $("#add").click(
                    function (e) {
                        e.preventDefault();
                        $('ul.dropdown').slideToggle("meduim");
                    }
            );

            $('.panel_select').on('change', function () {
                var value = $('option:selected', this).val();
                console.log(value);
                var location = $(this).attr('id');
                console.log(location);
                var url = '';
                var label = '';

                switch (value) {
                    case 'panel1':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverB";
                        label = "Static Grafana Panel 1";
                        break;

                    case 'panel2':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverA";
                        label = "Static Grafana Panel 2";
                        break;

                    case 'panel3':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&var-Host=serverA&panelId=6";
                        label = "Static Grafana Panel 3";
                        break;

                    case 'panel4':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=4&var-Host=serverB";
                        label = "Static Grafana Panel 4";
                        break;

                    case 'panel5':
                        url = "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=4&fullscreen&orgId=1";
                        label = "TestDash Custom Panel 1 (New Plugin)";
                        break;

                    case 'panel6':
                        url = "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=2&fullscreen&orgId=1";
                        label = "TestDash Custom Panel 2 (New Plugin)";
                        break;
                        
                    case 'showAll':
                        let urls = ["http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverB",
                            "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverA",
                            "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&var-Host=serverA&panelId=6",
                            "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=4&var-Host=serverB",
                            "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=4&fullscreen&orgId=1",
                            "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=2&fullscreen&orgId=1"
                        ];

                        let labels = ["Static Grafana Panel 1",
                            "Static Grafana Panel 2",
                            "Static Grafana Panel 3",
                            "Static Grafana Panel 4",
                            "TestDash Custom Panel 1 (New Plugin)",
                            "TestDash Custom Panel 2 (New Plugin)"
                        ]

                        let html = "<table class=\"panelTable\">";

                        for (var index in urls) {
                            html += "<td class=\"panelCell\">"
                            html +=     "<iframe src=\"" + urls[index] +  "\" class=\"panelFrame\" frameborder=\"0\"></iframe>"
                            html +=     "<div class=\"labelContainer text\">"
                            html +=         "<span>"
                            html +=             "<h2>" + labels[index] + "</h2>"
                            html +=         "</span>"
                            html +=     "</div>"
                            html += "</td>"   
                        }

                        html += "</table>"


                        $('#panel_area_'+ location + '').empty();
                        $('#panel_area_'+ location + '').html(html);
                        $('#label_area_'+ location + '').empty();
                        return;

                }

                $('#panel_area_'+ location + '').empty();
                $('#panel_area_'+ location + '').html("<iframe src='"+url+"' class='panelFrame' frameborder='0'></iframe>");
                $('#label_area_'+ location + '').empty();
                $('#label_area_'+ location + '').html("<h3>"+label+"</h3>");

            });
        });

    </script>
    
</html>
