<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/app.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Redfish Telemetry Client</title>
    </head>
    <body>
        <h1 class="text">{{pageTitle}}</h1>
        <p style="text-align:right;"><a href="/charts">Javascript Implementation</a></p>
        <div class="separator" />
        <br />
        <div style="display: inline-block;">
            <select class="panel_select" id="1">
                <!--<option selected>Select a panel...</option>-->
                <option value="panel1" selected>Panel 1</option>
                <option value="panel2">Panel 2</option>
                <option value="panel3">Panel 3</option>
                <option value="panel4">Panel 4</option>
                <option value="panel5">Panel 5</option>
                <option value="panel6">Panel 6</option>
            </select>
            <br />
            <br />
            <div id="panel_area_1"><iframe src='http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverB' class='panelFrame' frameborder='0'></iframe></div>
            <div id="label_area_1" style="text-align: center;"><h3>Static Grafana Panel 1</h3></div>
        </div>
        <div id="break"></div>
        <div style="display: inline-block;">
            <select class="panel_select" id="2">
                <!--<option selected>Select a panel...</option>-->
                <option value="panel1">Panel 1</option>
                <option value="panel2" selected>Panel 2</option>
                <option value="panel3">Panel 3</option>
                <option value="panel4">Panel 4</option>
                <option value="panel5">Panel 5</option>
                <option value="panel6">Panel 6</option>
            </select>
            <br />
            <br />
            <div id="panel_area_2"><iframe src='http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverA' class='panelFrame' frameborder='0'></iframe></div>
            <div id="label_area_2" style="text-align: center;"><h3>Static Grafana Panel 2</h3></div>
        </div>
        {{> footer}}
    </body>
    <script>
        $(document).ready(function () {
            $('.panel_select').on('change', function () {
                var value = $('option:selected', this).val();
                console.log(value);
                var location = $(this).attr('id');
                console.log(location);
                var url = '';
                var label = '';

                switch (value) {
                    case 'panel1':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverB";
                        label = "Static Grafana Panel 1";
                        break;

                    case 'panel2':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverA";
                        label = "Static Grafana Panel 2";
                        break;

                    case 'panel3':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&var-Host=serverA&panelId=6";
                        label = "Static Grafana Panel 3";
                        break;

                    case 'panel4':
                        url = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=4&var-Host=serverB";
                        label = "Static Grafana Panel 4";
                        break;

                    case 'panel5':
                        url = "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=4&fullscreen&orgId=1";
                        label = "TestDash Custom Panel 1 (New Plugin)";
                        break;

                    case 'panel6':
                        url = "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=2&fullscreen&orgId=1";
                        label = "TestDash Custom Panel 2 (New Plugin)";
                        break;

                }

                $('#panel_area_'+ location + '').empty();
                $('#panel_area_'+ location + '').html("<iframe src='"+url+"' class='panelFrame' frameborder='0'></iframe>");
                $('#label_area_'+ location + '').empty();
                $('#label_area_'+ location + '').html("<h3>"+label+"</h3>");

            });
        });

    </script>
    
</html>
