<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/app.css">
        <title>Redfish Telemetry Client</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        {{> panel}}
        {{> footer}}
    </body>
    
</html>