<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/app.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>Redfish Telemetry Client</title>
    </head>
    <body>
        <h1 class="text">{{pageTitle}}</h1>
        <script>
            let updatePanel = panelElement => {
                var value = $('option:selected', panelElement).val();
                console.log(value);
                var location = $(panelElement).attr('id');
                console.log(location);
                var url = '';
                var label = '';

                var panel1URL = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverB";
                var panel2URL = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverA";
                var panel3URL = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&var-Host=serverA&panelId=6";
                var panel4URL = "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=4&var-Host=serverB";
                var panel5URL = "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=4&fullscreen&orgId=1";
                var panel6URL = "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=2&fullscreen&orgId=1";
                var panel1Label = "Static Grafana Panel 1";
                var panel2Label = "Static Grafana Panel 2";
                var panel3Label = "Static Grafana Panel 3";
                var panel4Label = "Static Grafana Panel 4";
                var panel5Label = "TestDash Custom Panel 1 (New Plugin)";
                var panel6Label = "TestDash Custom Panel 2 (New Plugin)";

                switch (value) {
                    case 'panel1':
                        url = panel1URL;
                        label = panel1Label;
                        break;

                    case 'panel2':
                        url = panel2URL;
                        label = panel2Label;
                        break;

                    case 'panel3':
                        url = panel3URL;
                        label = panel3Label;
                        break;

                    case 'panel4':
                        url = panel4URL
                        label = panel4Label;
                        break;

                    case 'panel5':
                        url = panel5URL;
                        label = panel5Label;
                        break;

                    case 'panel6':
                        url = panel6URL;
                        label = panel6Label;
                        break;
                        
                    case 'showAll':
                        let urls = [
                            panel1URL,
                            panel2URL,
                            panel3URL,
                            panel4URL,
                            panel5URL,
                            panel6URL
                        ];

                        let labels = [
                            panel1Label,
                            panel2Label,
                            panel3Label,
                            panel4Label,
                            panel5Label,
                            panel6Label
                        ];

                        let html = "<table class=\"panelTable\">";

                        for (var index in urls) {
                            html += "<td class=\"panelCell\">"
                            html +=     "<iframe src=\"" + urls[index] +  "\" class=\"panelFrame\" frameborder=\"0\"></iframe>"
                            html +=     "<div class=\"labelContainer text\">"
                            html +=         "<span>"
                            html +=             "<h2>" + labels[index] + "</h2>"
                            html +=         "</span>"
                            html +=     "</div>"
                            html += "</td>"   
                        }

                        html += "</table>"


                        $('#panel_area_'+ location + '').empty();
                        $('#panel_area_'+ location + '').html(html);
                        $('#label_area_'+ location + '').empty();
                        return;

                }

                $('#panel_area_'+ location + '').empty();
                $('#panel_area_'+ location + '').html("<iframe src='"+url+"' class='panelFrame' frameborder='0'></iframe>");
                $('#label_area_'+ location + '').empty();
                $('#label_area_'+ location + '').html("<h3 class=\"text\">"+label+"</h3>");

            }

            let updatePanels = () => {
                let panelSelectIds = ["1", "2"];
                for (var id in panelSelectIds) {
                    updatePanel(document.getElementById(panelSelectIds[id]));
                }
            }

            $(document).ready(function () {
                updatePanels();
                $('.panel_select').on('change', function () {
                   updatePanel(this);
                });
        });
        </script>
        <div class="separator" />
        <br />
        <div style="display: inline-block;">
            <select class="panel_select" id="1">
                <!--<option selected>Select a panel...</option>-->
                <option value="panel1" selected>Panel 1</option>
                <option value="panel2">Panel 2</option>
                <option value="panel3">Panel 3</option>
                <option value="panel4">Panel 4</option>
                <option value="panel5">Panel 5</option>
                <option value="panel6">Panel 6</option>
                <option value="showAll">Show All</option>
            </select>
            <br />
            <br />
            <div id="panel_area_1"></div>
            <div id="label_area_1" style="text-align: center;"></div>
        </div>
        <div id="break"></div>
        <div style="display: inline-block;">
            <select class="panel_select" id="2">
                <!--<option selected>Select a panel...</option>-->
                <option value="panel1">Panel 1</option>
                <option value="panel2" selected>Panel 2</option>
                <option value="panel3">Panel 3</option>
                <option value="panel4">Panel 4</option>
                <option value="panel5">Panel 5</option>
                <option value="panel6">Panel 6</option>
                <option value="showAll">Show All</option>
            </select>
            <br />
            <br />
            <div id="panel_area_2"></div>
            <div id="label_area_2" style="text-align: center;"></div>
        </div>
        {{> footer}}
    </body>    
</html>
