<!--Landing page-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Redfish Telemetry Client</title>
</head>
<body>
    <h1>Redfish Telemetry Client</h1><a href="/">(testing) proceed to graphs page</a>
    <br />
    <br />
    <h2>Please select your metrics...</h2>
</body>
</html>