body {
   background-color: #f3f3f3;
}

.themeLight {
   background-color: #222222;
}

h1 {
   color: #212121;
   font-size: 36px;
   font-family: "Roboto", sans-serif;
}

.themeLight h1 {
   color: #f3f3f3;
}

h4 {
   font-family: "Roboto", sans-serif;
}

a {
   color: #212121; /* unvisited link */
}
a:visited {
   color: #212121; /* visited link */
}
a:hover {
   color: #212121; /* mouse over link */
}
a:active {
   color: #212121;
}

p {
   font-family: "Roboto", sans-serif;
}

/* Index JS (Grafana) */
.separator {
   width: 100%;
   height: 3px;
   background-color: #212121;
}

.themeLight .separator {
   background-color: #f3f3f3;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #f3f3f3;
   color: #212121;
   text-align: center;
}

.panelTable {
   text-align: center;
}

.panelCell {
   display: inline-block;
   text-align: center;
   padding: 10px;
}

.panelFrame {
   width: 700px;
   height: 400px;
}

.panelFrame:hover {
   box-shadow: 10px 10px 6px -6px #777;
}

.labelContainer {
   text-align: center;
   font-size: 24px;
}

.text {
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.themeLight .text {
   color: #f3f3f3;
}

#break {
   display: inline-block;
   width: 15%;
}

.dropdown {
   margin-top: -10px;
   display: none;
   width: 100px;
   font-family: "Roboto", sans-serif;
}

.dropdown li {
   font-family: "Roboto", sans-serif;
   color: #212121;
   text-decoration: none;
   display: block;
   list-style-position: inside;
   cursor: pointer;
}

.themeLight .dropdown li {
   color: #f3f3f3;
}

.themeLight #add {
   color: #f3f3f3;
}

.themeLight i {
   color: #f3f3f3;
}

.dropdown li:hover {
   font-weight: bold;
   color: red;
}

.sidenav {
   height: 100%;
   top: 14%;
   left: 10px;
   z-index: 1;
   overflow-x: hidden;
   width: 150px;
   position: fixed;
}

.main_container {
   margin-left: 150px;
   padding-top: 10px;
   display: inline-block;
}

.del {
   cursor: pointer;
}
