body {
   background-color: #f3f3f3;
}

.themeLight {
   background-color: #222222;
}

h1 {
   color: #212121;
   font-size: 36px;
   font-family: "Roboto", sans-serif;
}

.themeLight h1 {
   color: #f3f3f3;
}

h4 {
   font-family: "Roboto", sans-serif;
}

a {
   color: #212121; /* unvisited link */
}
a:visited {
   color: #212121; /* visited link */
}
a:hover {
   color: #212121; /* mouse over link */
}
a:active {
   color: #212121;
}

p {
   font-family: "Roboto", sans-serif;
}

/* Index JS (Grafana) */
.separator {
   width: 100%;
   height: 3px;
   background-color: #212121;
}

.themeLight .separator {
   background-color: #f3f3f3;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #f3f3f3;
   color: #212121;
   text-align: center;
}

.panelTable {
   text-align: center;
}

.panelCell {
   display: inline-block;
   text-align: center;
   padding: 10px;
}

.panelFrame {
   width: 700px;
   height: 400px;
}

.panelFrame:hover {
   box-shadow: 10px 10px 6px -6px #777;
}

.labelContainer {
   text-align: center;
   font-size: 24px;
}

.text {
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.themeLight .text {
   color: #f3f3f3;
}

#break {
   display: inline-block;
   width: 15%;
}

.dropdown {
   margin-top: -10px;
   display: none;
   width: 100px;
   font-family: "Roboto", sans-serif;
}

.dropdown li {
   font-family: "Roboto", sans-serif;
   color: #212121;
   text-decoration: none;
   display: block;
   list-style-position: inside;
   cursor: pointer;
}

.themeLight .dropdown li {
   color: #f3f3f3;
}

.themeLight #add {
   color: #f3f3f3;
}

.themeLight i {
   color: #f3f3f3;
}

.dropdown li:hover {
   font-weight: bold;
   color: red;
}

.sidenav {
   height: 100%;
   top: 14%;
   left: 10px;
   z-index: 1;
   overflow-x: hidden;
   width: 150px;
   position: relative;
}

.main_container {
   margin-left: 150px;
   padding-top: 10px;
   display: inline-block;
}

.del {
   cursor: pointer;
}

.header {
   height: 50px;
   background-color: #212121;
   position: relative;
   z-index: 20;
}

.themeLight .header {
   background-color: #f3f3f3;
}

body {
   margin: 0px;
}

.menuIcon {
   font-size: 24px;
   padding: 12px;
   color: #f3f3f3;
   cursor: pointer;
   z-index: 30;
}

.themeLight .menuIcon {
   color: #212121;
}

#menuSurface {
   height: calc(100% - 50px);
   width: 300px;
   background-color: #cbddf8;
   position: absolute;
   z-index: 10;
   animation-name: menuAnimation;
   animation-duration: 0.5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   margin-top: 50px;
}

@keyframes menuAnimation {
   from {left: -300px}
   to {left: 0px}
}

#overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background: white;
   opacity: 0.35;
   animation-name: overlayAnimation;
   animation-duration: 0.5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes overlayAnimation {
   from {opacity: 0}
   to {opacity: 0.35;}
}


.list{
    color: red;
    cursor: pointer;
    list-style-type: square;
    /*margin-left: 15%;*/
}

.list li:hover{
    background-color: rgba(232, 232, 232, 0.7);
}

.menuTitle {
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.themeLight .menuTitle {
   color: #212121;
}

.menuLink {
   display: block;
   padding: 0px 0px 0px 10px;
   font-size: 20px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.menuSeparator {
   height: 1px;
   margin: 15px 20px;
   background-color: #75aafa 
}