body{
    background-color: #212121;
}
h1{
    color: #D44A3A;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h2{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.panelContainer{
    font-family: 'Roboto', sans-serif;
    color: #D8D9DA;
    text-align: center;
}

.panelCell {
	display: inline-block;
    text-align: center;
	padding: 10px;
}

.panelFrame {
	width: 700px;
	height: 400px;
}

.labelContainer {
	text-align: center;
	font-size: 24px
}