<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="/css/app.css" />
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="../resources/js/index.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous" />
   <title>Redfish Insight</title>
</head>

<body>
   <div id="menuContainer"></div>
   <div>
      <div class="header">
         <i class="fas fa-bars menuIcon"></i>
      </div>
      <h1 class="text">{{ pageTitle }}</h1>
      <form>
         <input type="radio" name="theme" value="dark" checked="checked" onclick="updateTheme(true /*isDark*/);" /><span
            class="text">Light Theme</span>
         <input type="radio" name="theme" value="light" onclick="updateTheme(false /*isDark*/);" /><span class="text">Dark
            Theme</span>
      </form>
      <div class="separator"></div>
   </div>
   <div id="fullscreenPlaceholder"></div>
   <!-- Sidebar -->
   <div class="sidenav">
      <h4>
         <i class="fas fa-plus"></i><a href="#" id="add" style="text-decoration: none;">
            &nbsp;Add a panel...</a>
      </h4>
      <ul class="dropdown">
         <li value="panel1">Panel 1</li>
         <li value="panel2">Panel 2</li>
         <li value="panel3">Panel 3</li>
         <li value="panel4">Panel 4</li>
         <li value="panel5">Panel 5</li>
         <li value="panel6">Panel 6</li>
         <li value="showAll">Show All</li>
      </ul>
   </div>

   <!-- Main Content -->
   <div>
      <table class="main_container"></table>
   </div>

   <!-- Footer -->
   <!-- <div class="footer"> -->
   <!-- {{> footer}} -->
   <!-- </div> -->
</body>
<script>
   var count = 0;
   var displayed = [];
   var allAddedPanels = [];
   var menuOpened = false;
   var fullScreenMode = false;
   var fullScreenPanel = -1;

   $("#add").click(function (e) {
      e.preventDefault();
      $("ul.dropdown").slideToggle("medium");
   });

   $(".dropdown li").on("click", function () {
      $("ul.dropdown").slideToggle("medium");
      updatePanel(this);
   });

   let onMenuClick = () => {
      menuOpened = !menuOpened;
      let menuId = menuOpened ? "menuSurface" : "menuSurfaceClosing";
      let overlayId = menuOpened ? "overlay" : "overlayClosing";
      let menuHtml = 
         "<div id='" + menuId + "'>" +
            "<h1 class='menuTitle'>Menu</h1>" +
            "<div class='menuSeparator'></div>" +
            "<a href='/' class='menuLink'>Metric Selections</a>" +
            "<div class='menuSeparator'></div>" +
            "<a href='/graphs' class='menuLink selectedLink'>Panel Display</a>" +
            "<div class='menuSeparator'></div>" +
            "<a href='/datagenerator' class='menuLink'>Data Generator</a>" +
            "<div class='menuSeparator'></div>" +
         "</div>" + 
         "<div id='"+ overlayId +"' onclick='onMenuClick()'>"+
         "</div>";
      document.getElementById('menuContainer').innerHTML = menuHtml;

      if (!menuOpened) {
         setTimeout(() => {
            document.getElementById('menuContainer').innerHTML = "";
         }, 500)
      }
   }

   $(".menuIcon").on("click", onMenuClick);

   let isThemeDark = true;
   let themeURLParam = "";

   setThemeString = () => {
      themeURLParam = isThemeDark ? "&theme=dark" : "&theme=light";
   };

   function updateTheme(isDark) {
      isThemeDark = isDark;
      if (isDark == false) {
         document.body.classList.add("themeLight");
      } else {
         document.body.classList = [];
      }
      setThemeString();
      updatePanels();
   }

   var panel1URL =
      "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverB" +
      themeURLParam;
   var panel2URL =
      "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=2&var-Host=serverA" +
      themeURLParam;
   var panel3URL =
      "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&var-Host=serverA&panelId=6" +
      themeURLParam;
   var panel4URL =
      "http://52.37.217.87:3000/d-solo/uiNmWixmz/randomdata?refresh=5s&orgId=1&panelId=4&var-Host=serverB" +
      themeURLParam;
   var panel5URL =
      "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=4&fullscreen&orgId=1" +
      themeURLParam;
   var panel6URL =
      "http://52.37.217.87:3000/d-solo/uwmb0iBmz/testdash?refresh=5s&panelId=2&fullscreen&orgId=1" +
      themeURLParam;
   var panel1Label = "Static Grafana Panel 1";
   var panel2Label = "Static Grafana Panel 2";
   var panel3Label = "Static Grafana Panel 3";
   var panel4Label = "Static Grafana Panel 4";
   var panel5Label = "TestDash Custom Panel 1 (New Plugin)";
   var panel6Label = "TestDash Custom Panel 2 (New Plugin)";

   let getPanelData = (value) => {
      switch (value) {
         case 0:
            return {
               url: panel1URL,
               label: panel1Label
            }
         case 1:
            return {
               url: panel2URL,
               label: panel2Label
            }
            

         case 2:
            return {
               url: panel3URL,
               label: panel3Label
            }

         case 3:
            return {
               url: panel4URL,
               label: panel4Label
            }

         case 4:
            return {
               url: panel5URL,
               label: panel5Label
            }

         case 5:
            return {
               url: panel6URL,
               label: panel6Label
            }
      }
      return {};
   }

   let updatePanel = panelElement => {
      var value;
      if (panelElement.type === "") {
         value = $(panelElement).index();
      } else {
         value = parseInt(panelElement, 10);
      }
      let panelData = getPanelData(value);
      var url = panelData.url;
      var label = panelData.label;

      if (value == 6) {
         let urls = [
            panel1URL,
            panel2URL,
            panel3URL,
            panel4URL,
            panel5URL,
            panel6URL
         ];

         let labels = [
            panel1Label,
            panel2Label,
            panel3Label,
            panel4Label,
            panel5Label,
            panel6Label
         ];
         allAddedPanels = [0,1,2,3,4,5];
         let html = "";

         for (var index in urls) {
            html += '<td class="panelCell">';
            html +=
               "<div id='panel_area_" +
               index +
               "'><iframe src=\"" +
               urls[index] +
               '" class="panelFrame" frameborder="0"></iframe>';
            html += '<div class="labelContainer text">';
            html += "<span>";
            html +=
               "<i class='fa fa-trash del' aria-hidden='true' id='" +
               index +
               "'></i><i class='fa fa-expand expand' id='"+ index +"-expand'></i>";
            html += "<h2>" + labels[index] + "</h2>";
            html += "</span>";
            html += "</div>";
            html += "</td>";
         }

         $(".main_container").empty();
         $(".main_container").html(html);
         return;
      }

      if ($.inArray(value, displayed) !== -1) {
         alert("Panel already added!!");
      } else {
         displayed.push(value);
         if (!allAddedPanels.includes(value)) {
            allAddedPanels.push(value);
         }
         let html =
            '<td class="panelCell"><div id=\'panel_area_' +
            value +
            "'><iframe src='" +
            url +
            "' class='panelFrame' frameborder='0'></iframe>";
         html +=
            "<br /><i class='fa fa-trash del' aria-hidden='true' id='" +
            value +
            "'></i><i class='fa fa-expand expand' id='"+ value +"-expand'></i><h2 class='text'>" +
            label +
            "</h2></div>";
         $(".main_container").append(html);
      }
   };

   $("body").on("click", ".del", function () {
      var index = displayed.indexOf(this.id);
      displayed.splice(index, 1);
      allAddedPanels.splice(index, 1);
      $("#panel_area_" + this.id).remove();
   });

   $("body").on("click", ".expand", function () {
      if (fullScreenMode) {
         fullScreenMode = false;
         fullScreenPanel = -1;
      } else {
         fullScreenMode = true;
         fullScreenPanel = parseInt(this.id.split("-")[0]);
      }
      $("#fullscreenPlaceholder").empty()
      displayed = allAddedPanels;
      updatePanels();
   });

   let updatePanels = () => {
      $(".main_container").empty();

      if (fullScreenMode) {
         renderFullScreen();
      } else {
         $('body').removeClass('noScroll');
      }
      var tmp = displayed;
      displayed = [];
      for (var i = 0; i < tmp.length; i++) {
         updatePanel(tmp[i]);
      }
   };

   let renderFullScreen = () => {
      let panelData = getPanelData(fullScreenPanel);
      let themeClass = isThemeDark ? "darkInfo" : "lightInfo"
      $(window).scrollTop(0);
      let html =
            "<iframe src='" +
            panelData.url +
            "' class='panelFrameFullScreen' frameborder='0'></iframe>";
      html +=
            '<div class="fullScreenInfo ' + themeClass + '">' +
               "<h2 class='text'>" + panelData.label + "</h2>" +
               "<i class='fa fa-expand expand' id='"+ fullScreenPanel +"-expand'></i>" +
            "</div>";
      html += '<div class="leftArrow"><i class="fa fa-3x fa-arrow-left arrow" id="'+ fullScreenPanel +'-arrow-left"></i></div>';
      html += '<div class="rightArrow"><i class="fa fa-3x fa-arrow-right arrow" id="'+ fullScreenPanel +'-arrow-right"></i></div>'
      $(".main_container").append(html);
      $('body').addClass('noScroll');
   }

   $("body").on("click", ".arrow", function () {
      let currentPanelInArray = allAddedPanels.indexOf(fullScreenPanel);
      let leftArrow = this.id.split("-")[2] === 'left';
      if (leftArrow) {
         let newIndex = currentPanelInArray-1
         if (newIndex < 0) {
            newIndex = allAddedPanels.length -1;
         }
         fullScreenPanel = allAddedPanels[newIndex];
      } else {
         let newIndex = currentPanelInArray+1
         if (newIndex > allAddedPanels.length -1) {
            newIndex = 0;
         }
         fullScreenPanel = allAddedPanels[newIndex];
      }
      $("#fullscreenPlaceholder").append("<div class='placeholder'></div>")
      updatePanels();
   });
</script>

</html>
