body {
   background-color: #f3f3f3;
}

.themeLight {
   background-color: #222222;
}

h1 {
   color: #212121;
   font-size: 36px;
   font-family: "Roboto", sans-serif;
}

html{
   font-family: "Roboto", sans-serif;
}

.themeLight h1 {
   color: #f3f3f3;
}

h4 {
   font-family: "Roboto", sans-serif;
}

a {
   color: #212121; /* unvisited link */
}
a:visited {
   color: #212121; /* visited link */
}
a:hover {
   color: #212121; /* mouse over link */
}
a:active {
   color: #212121;
}

p {
   font-family: "Roboto", sans-serif;
}

/* Index JS (Grafana) */
.separator {
   width: 100%;
   height: 3px;
   background-color: #212121;
}

.themeLight .separator {
   background-color: #f3f3f3;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #f3f3f3;
   color: #212121;
   text-align: center;
}

.panelTable {
   text-align: center;
}

.panelCell {
   display: inline-block;
   text-align: center;
   padding: 10px;
}

.panelFrame {
   width: 700px;
   height: 400px;
}

.panelFrameFullScreen {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 100;
   width: 100%;
   height: 94%;
}

.fullScreenInfo {
   position: absolute;
   top: 94%;
   display: inline;
   text-align: center;
   right: 0;
   left: 0;
   margin: auto;
}

.fullScreenInfo > * {
   display: inline-block;
}

.leftArrow {
   height: 100px;
   width: 100px;
   position: absolute;
   background-color: #f3f3f3;
   z-index: 200;
   top: 0%;
   bottom: 6%;
   margin: auto;
   left: -90px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}

.leftArrow:hover {
   left: 0px;
   transition: 200ms
}

.rightArrow {
   height: 100px;
   width: 100px;
   position: absolute;
   background-color: #f3f3f3;
   z-index: 200;
   top: 0%;
   bottom: 6%;
   margin: auto;
   right: -90px;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}

.rightArrow:hover {
   right: 0px;
   transition: 200ms
}

.fa-arrow-left {
   position: absolute;
   opacity: 0.75;
   right: 35px;
   top: 23px;
}

.fa-arrow-right {
   position: absolute;
   opacity: 0.75;
   left: 35px;
   top: 23px;
}

.darkInfo {
   background-color: #f3f3f3;
   z-index: 90;
}

.lightInfo {
   background-color: #222222;
   z-index: 90;
}

.noScroll {
   overflow: hidden;
}

.panelFrame:hover {
   box-shadow: 10px 10px 6px -6px #777;
}

.labelContainer {
   text-align: center;
   font-size: 24px;
}

.text {
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.themeLight .text {
   color: #f3f3f3;
}

#break {
   display: inline-block;
   width: 15%;
}

.dropdown {
   margin-top: -10px;
   display: none;
   width: 100px;
   font-family: "Roboto", sans-serif;
}

.dropdown li {
   font-family: "Roboto", sans-serif;
   color: #212121;
   text-decoration: none;
   display: block;
   list-style-position: inside;
   cursor: pointer;
}

.themeLight .dropdown li {
   color: #f3f3f3;
}

.themeLight #add {
   color: #f3f3f3;
}

.themeLight i {
   color: #f3f3f3;
}

.dropdown li:hover {
   font-weight: bold;
   color: red;
}

.sidenav {
   height: 100%;
   top: 14%;
   left: 10px;
   z-index: 1;
   overflow-x: hidden;
   width: 150px;
   position: relative;
}

.main_container {
   margin-left: 150px;
   padding-top: 10px;
   display: inline-block;
}

.del {
   cursor: pointer;
}

.expand {
   cursor: pointer;
   padding-left: 15px;
}

.header {
   height: 50px;
   background-color: #212121;
   position: relative;
   z-index: 20;
}

.themeLight .header {
   background-color: #f3f3f3;
}

body {
   margin: 0px;
}

.menuIcon {
   font-size: 24px;
   padding: 12px;
   color: #f3f3f3;
   cursor: pointer;
   z-index: 30;
}

.themeLight .menuIcon {
   color: #212121;
}

#menuSurface {
   height: calc(100% - 50px);
   width: 300px;
   background-color: #cbddf8;
   position: absolute;
   z-index: 10;
   animation-name: menuAnimation;
   animation-duration: 0.5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   margin-top: 50px;
}

@keyframes menuAnimation {
   from {left: -300px}
   to {left: 0px}
}

#menuSurfaceClosing {
   height: calc(100% - 50px);
   width: 300px;
   background-color: #cbddf8;
   position: absolute;
   z-index: 10;
   animation-name: menuClosingAnimation;
   animation-duration: 0.5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
   margin-top: 50px;
   left: -300px;
}

@keyframes menuClosingAnimation {
   from {left: 0px}
   to {left: -300px}
}

#overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background: white;
   opacity: 0.35;
   animation-name: overlayAnimation;
   animation-duration: 0.5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes overlayAnimation {
   from {opacity: 0}
   to {opacity: 0.35;}
}

#overlayClosing {
   position: absolute;
   width: 100%;
   height: 100%;
   background: white;
   opacity: 0;
   animation-name: overlayClosingAnimation;
   animation-duration: 0.5s;
   animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes overlayClosingAnimation {
   from {opacity: 0.35}
   to {opacity: 0;}
}

.list{
    /*color: red;*/
    cursor: pointer;
    list-style-type: square;
    /*margin-left: 15%;*/
   /*columns: 2;*/
   /*-webkit-columns: 2;*/
   /*-moz-columns: 2;*/
}

.list li:hover{
    background-color: rgba(232, 232, 232, 0.7);
}

.menuTitle {
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.themeLight .menuTitle {
   color: #212121;
}

.menuLink {
   display: block;
   /* padding: 5px 0px 5px 10px; */
   padding: 5px;
   margin: 5px 10px 5px 10px;
   border: 1px solid transparent;
   border-radius: 5px;
   font-size: 20px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   text-decoration: none;  
}

.menuLink:hover {
   background-color: #68a5ff;
}


.menuSeparator {
   height: 1px;
   margin: 10px 20px;
   background-color: #75aafa 
}

.selectedLink {
   background-color: #acccfc;
}


/*ul {*/
   /*columns: 2;*/
   /*-webkit-columns: 2;*/
   /*-moz-columns: 2;*/
/*}*/

/*.dashboard {*/
   /*height: 500px;*/
   /*!*display: flex;*!*/
   /*border: 2px solid #212121;*/
   /*!*width: 25%;*!*/
   /*margin: 0 auto;*/
   /*position: absolute;*/
   /*!*right: 20%;*!*/
/*}*/

.list-div{
   border: 1px solid lightslategrey;
   height: 500px;
   overflow-y: scroll;
   box-shadow: inset 0 -50px 50px -50px rgba(0, 0, 0, 1);
}

#metricsLabel {
   padding: 10px;
   font-family: arial;
   font-weight: 600;
   text-decoration: underline;
}

#selectedMetrics {
   font-family: arial;
   padding-top: 20px;
   margin-left: -50px;
}